/* src/sidebar.css */
.nav-link {
  color: white !important; /* Ensures text color is white */
  transition: background-color 0.3s ease, color 0.3s ease; /* Smooth transition effect */
  margin: 2px;
  border-radius: 10px;
}

.nav-link:hover {
  background-color: #5a6268; /* Darker background on hover */
  color: #ffffff; /* White text color on hover */
  border-radius: 10px;
}

.nav-link.active {
  background-color: #495057; /* Darker background for the active link */
  color: #ffffff; /* White text for active link */
  border-radius: 10px;
}
